<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <div class="row">
                            <div id="helpfulLinks">
                                <a href="{{site.url}}{{site.baseurl}}/blog/Hotel-info" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Hotel Information</a><br>
                                <!-- <a href="{{site.url}}{{site.baseurl}}/blog/Registry" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Our Registry</a><br> -->
                                <!-- <a href="{{site.url}}{{site.baseurl}}/blog/RSVP" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">RSVP</a> -->
                            </div>
                    </div>
                    <div class="row">
                        <a id="contact-button" href="mailto:{{site.email}}?Subject= The%20Wedding{% if site.email && site.email2 %}&cc={{site.email2}}{% else %}{% endif %}" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined has-text-weight-semibold column is-two-fifths" target="_blank">
                            <i class="fas fa-envelope"></i>Send us an Email
                        </a>
                    </div>
                    <div class="countdownDiv">
                        <br>
                        <p><b>Date: </b>August 20, 2022</p> <p id="countdownTimer"></p><br>
                        <p class="in-line"><b>Location: </b>600 Benner Rd, Miamisburg, OH 45342 (</p> <a href="{{site.url}}{{site.baseurl}}/#map">Google Map</a> <p>)</p><br>
                    </div>
                    <p class="button" id="blake-cell">Blake's Cell: (859) 351 - 5021</p>
            </div>
        </div>
    </div>
</section>