<section class="hero is-fullheight has-text-centered has-background-white-ter" id="about">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd">
                    <figure class="image">
                        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
                    </figure>
                </div>
                <div class="column has-text-left-desktop has-text-left-tablet has-text-left-fullhd has-text-left-widescreen">
                    <p>{{site.author-about}}</p>
                    <div id="helpfulLinks">
                        <a href="{{site.url}}{{site.baseurl}}/#contact" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Hotel Information</a><br>
                        <a href="{{site.url}}{{site.baseurl}}/#contact" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">Our Registry</a><br>
                        <a href="{{site.url}}{{site.baseurl}}/#contact" class="button is-rounded is-uppercase has-text-weight-normal is-black is-outlined">RSVP</a>
                    </div>
                    <div class="countdownDiv">
                        <br>
                        <p><b>Date: </b>August 20, 2022</p> <p id="countdownTimer"></p><br>
                        <p class="in-line"><b>Location: </b>600 Benner Rd, Miamisburg, OH 45342 (</p> <a href="{{site.url}}{{site.baseurl}}/#map">Google Map</a> <p>)</p>
                    </div>
            </div>
        </div>
    </div>
</section>